/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --wine-berry: #56203E;
  --ice-cold: #9CF7ED;
  --siren: #820342;
  --carmine: #A30121;
  --lavender-rose: #F9A3E5;
}

/* set content highlight color and background */
::selection {
  background-color: var(--lavender-rose);
  color: var(--wine-berry);
}

body {
  font-family: Helvetica, Arial;

  /* set body font size to 1.75rem, which is 1.75x more than the font-size of 10px, making it 17.5px  */
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--ice-cold);
  background-color: var(--wine-berry);
}

/* Spacing/positioning for the nav links */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-size: 20px;
}

/* Spacing between the navigation links at the top. */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Navigation links font specific Styling */
a {
  color: #ffffff;
  text-decoration: none;
}

/* Paragraph spacing */
p {
  font-size: 16px;
  margin-bottom: 16px;
}

header {
  width: 100%;
  margin: 0 auto;
  padding: 30px;
  text-align: left;
}

.profilePicture {
  height: 213px;
  width: 252px;
  float: left;
  margin-right: 25px;
}

main {
  width: 96%;
  margin: 2rem auto;
}

footer {
  margin: 1.5rem;
  text-align: center;
}

/* create our main grid with flexbox, use negative margins to offset the padding on the .card-column class */
.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
}

.justify-center {
  justify-content: center;
}

/* using a mobile-first approach, set base column width to be 100% and we'll update it using media queries for larger screen sizes */
.card-column {
  flex: 1 0 100%;
  padding: 1.5rem;
  /* when the screen resizes, make it so our columns don't jump in size */
  transition: flex-basis 500ms linear;
  margin-bottom: 1.5rem;
}

/* make each code card a flexbox column to align and justify content within it */
.code-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100%;
  padding: 2rem;
  color: var(--ice-cold);

  /* outline is like border, but on the outside of the box instead of inside */
  outline: 2px dashed var(--ice-cold);
  outline-offset: -2px;
  transition: all 0.5s ease-in-out;
}

.code-card .card-header {
  /* use position and negative margins to move title of card over the card's outline and create an overlap effect */
  position: relative;
  margin: -4rem 0 1.5rem 0;
  padding: 0.5rem 1rem;
  background-color: var(--wine-berry);
  color: var(--ice-cold);
  border: 2px solid var(--ice-cold);
  border-radius: 8px;
  transition: all 0.5s ease-in-out;
}

/* AAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--ice-cold), 0 0 15px var(--ice-cold);
}
/* AAAAAAAAAAAAAAAAAAAAAAAAAAA */

/* each card's code block grows to the height of the largest code block on the page, making each card even in height */
.code-card .code-block {
  flex-grow: 1;
}

.code-card pre {
  /* set styles to make it so code wraps in <pre> instead of overflowing */
  white-space: pre-wrap;
  overflow: auto;
  tab-size: 4;
  padding: 1.2rem 1rem;
  color: var(--ice-cold);
  border-radius: 8px;
  /* use linear-gradient() function to create a fading background  */
  background-image: linear-gradient(
    rgba(232, 102, 236, 0.3) 0%,
    rgba(232, 102, 236, 0.6) 100%
  );
  display: flex;
  align-items: center;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
@media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  }

  /* select the last child to grow to full width if it has space to grow */
  .card-column:last-child {
    flex-grow: 1;
  }
}

/* media query for larger screens */
@media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
}
