/* color scheme sourced from http://khroma.co/generator/ */
:root {
  --wine-berry: #56203E;
  --ice-cold: #9CF7ED;
  --siren: #820342;
  --carmine: #A30121;
  --lavender-rose: #F9A3E5;
}

/* Universal settings to keep webpage contained within the screen/window without excess scrolling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Sets the foundation background colour */
body {
  background-color: var(--lavender-rose);
}

/* Sets styling for the header */
.header {
  padding: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: var(--wine-berry);
  color: #ffffff;
}

/* Styling for my name and career */
.header h1 {
  display: inline-block;
  font-size: 48px;
}

/* Repurposed code from prev project to add flair to "Full Stack Developer" */
.header h1 .subtitle {
  font-size: 25px;
  color: var(--lavender-rose);
}

/* Styling for the header (border/box area) */
.header nav {
  padding-top: 15px;
  margin-right: 20px;
  float: right;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 20px;
}

/* Styling and spacing between the navigation links at the top. */
.header nav ul li {
  display: inline-block;
  margin-left: 25px;
}

/* Hyperlink styling (Navigation links) */
a {
  color: #ffffff;
  text-decoration: none; /* Removes underline and other styling */
}

/* Paragraph styling */
p {
  font-size: 16px;
}

/* Hero section refers to the main 'book cover' image. Usually the largest image or the centerpiece. */
.hero {
  display: flex;
  flex-shrink: 1;
  height: 50%;
  max-width: 100%;
  margin-bottom: 25px;
  background-image: url("/assets/images/gta.png");
  background-size: cover;
  background-position: center;
}



/* >>>>Beginning of section for the class "content" and it's contained elements.<<<<< */

/* Unique styling to display certain sections with the image on the left */
.float-left {
  float: left;
  margin-right: 25px;
}

/* Unique styling to display certain sections with the image on the right */
.float-right {
  float: right;
  margin-left: 25px;
}

/* Styling for the About Me container. */
.about-me {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: nowrap;
}

/* CSS Styling for articles of the "content" class. Consolidated excess code into one section since all properties
were the same */
.about-me article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--siren);
  color: #ffffff;
}

/* Associated image styling for each section - Sets max height so the image looks like an interior section. Consolidated 
excess definitions for each content into a single property setting, as each image had the same sizing*/
.about-me img {
  justify-content: space-evenly;
  max-height: 200px;
}/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
.about-me img:hover {
  box-shadow: inset 0px 0px 8px var(--ice-cold), 0 0 15px var(--ice-cold);
  vertical-align: top;
}

/* All the h2 sections within content have the same properties. Removed excess code to consolidate. */
.about-me h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

.about-me am1 {
  display: flexbox;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex: 1;
}

.about-me am2 {
  display: flexbox;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex: 2;
  width: 33.3%;
}

.about-me am3 {
  display: flexbox;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  flex: 1;
}

.am1 figcaption {
  margin-right: 15px;
  text-align: center;
}

.am3 figcaption {
  margin-left: 25px;
  text-align: center;
}

img {
  max-height: 150px;
}

img:hover {
  box-shadow: inset 0px 0px 8px var(--ice-cold), 0 0 15px var(--ice-cold);
  vertical-align: top;
}



/* Styling and positioning the the main portion of the site. Mainly so it doesn't take up the whole width
of the page, allowing the 'aside' information bar to have space and be positioned. */
.content {
  width: 100%;
  display: flexbox;
}

/* CSS Styling for articles of the "content" class. Consolidated excess code into one section since all properties
were the same */
.content article {
  margin-bottom: 20px;
  padding: 50px;
  height: 300px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: var(--siren);
  color: #ffffff;
}


figcaption {
  justify-content: center;
}

.content h2 {
  margin-bottom: 20px;
  font-size: 36px;
}

footer {
  padding: 30px;
  text-align: center;
}

/* using a mobile-first approach, use `min-width` values going from narrow -> wide for a responsive design */
/* @media screen and (min-width: 768px) {
  /* on tablets, set columns to only be 50% of the width and not grow */
  /* .card-column {
    flex: 0 0 50%;
    max-width: 50%;
  } */

  /* select the last child to grow to full width if it has space to grow */
  /* .card-column:last-child {
    flex-grow: 1;
  }
} */

/* media query for larger screens */
/* @media screen and (min-width: 992px) {
  header {
    width: 75%;
  }

  .card-column {
    flex: 0 0 33.333%;
    max-width: 33.333%;
  }
} */

/* AAAAAAAAAAAAAAAAAAAAAAAAAAA */
/* set an outer and inner drop shadow on the card to create a glowing effect on hover */
/* .code-card:hover,
.code-card:hover .card-header {
  box-shadow: inset 0px 0px 8px var(--ice-cold), 0 0 15px var(--ice-cold);
} */
/* AAAAAAAAAAAAAAAAAAAAAAAAAAA */